streamlit
numpy
python-multipart
uvicorn
pandas
xlrd
plotly
pyproj
st-clickable-images
requests
python-dotenv
kaleido
snowflake-snowpark-python
bcrypt
snowflake-connector-python
streamlit_option_menu
st-pages
